/*HTML header General Settings*/
header{
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 0, 49);
}
.sticky-header{
    top: 0%;
}

/* (*=General) Header with multiple img: Home - Projects - About - Contact  */
*{box-sizing: border-box;}
.column {
    float: left;
    width: 25%;
    padding: 3px;    
}
.row::after{
    content: "";
    clear: both;
    display: table;
}


/*HTML Body Settings*/
body{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
    /*min-height: 100vh;*/
    background: rgb(49, 0, 49);
    

    padding-top: 0px;
    padding-bottom: 0px;
    
    margin: 0;
    margin-right: 9px;
    margin-left: 9px;
    margin-top: 0px;
    margin-bottom: 0px;
  
    Overflow-x:scroll;
    Overflow-y:scroll; 
        
}

/*Text/Link Colours*/
a:link {
    color: turquoise;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color:dodgerblue;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color:crimson
  }
  
a:active {
    color:firebrick;
    background-color: transparent;
    text-decoration: underline;
  }


h1 {color: whitesmoke;}
h2 {color: white;}
h3 {color: white;}
h4 {color: white;}
h5 {color: white;}
h6 {color: white;}
p {color: whitesmoke;}

/*Table Settings*/
table {
  max-width: 100%;
  min-height: fit-content;
}


/*Footer Settings*/
.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding:29px 10px 10px 10px;
    height: 49;

    display: flex;
    align-items:center;
    justify-content:center;
    background-color:rgb(41, 41, 41);
    
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    font-weight: 200;
    
    }