body{
    /*padding-top: 60px;*/
    padding-bottom: 40px;
    margin: 0;
    background: rgb(49, 0, 49);
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.container{width: 100%; margin: 0 auto; /* Center the DIV horizontally */}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: hwb(0 0% 100% / 0);
    padding: 10px 0;
    color: #fff;}
.fixed-header{top: 0;}
.fixed-footer{bottom: 0;}    
.container p{line-height: 200px; /* Create scrollbar to test positioning */}


h1 {color: whitesmoke;}
h2 {color: whitesmoke;}
h3 {color: whitesmoke;}
h4 {color: whitesmoke;}
h5 {color: whitesmoke;}
h6 {color: whitesmoke;}
p {color: whitesmoke;}